# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uploads and images
uploads/
images/
test_archives/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log

# Other
*.sqlite3

# PyInstaller build artifacts
dist/
build/
*.spec
*.exe
